@{ 
    ViewBag.Title = "Not Found";
}
    <div class="container">

    <h1 class="alert alert-danger">@ViewBag.ErrorMessage</h1>
    <a asp-action="Index" asp-controller="Home">Click here to navigate to home page</a>
    </div>