@{
    ViewBag.Title = "Not Found";
}
<div class="container mt-3 mb-2">

    <div class="alert alert-info">@ViewBag.Message</div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Click here to navigate to home page</a>
    </div>